.student{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  padding: auto;
  background-color:aliceblue;
  border:1px solid hsla(hue, saturation, lightness, alpha)
}
.student p{
  margin: 0;
}